In [12]:
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql.cursors
import os
# import getpass
import urllib.parse

In [13]:
battles = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/battles.csv')
battles

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\micel\AppData\Local\Temp\ipykernel_14380\496118513.py:1: SyntaxWarning: invalid escape sequence '\D'
  battles = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/battles.csv')

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN
5,Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,0.0,0.0,6000.0,12625.0,"Robb Stark, Tytos Blackwood, Brynden Tully","Lord Andros Brax, Forley Prester",1.0,Riverrun,The Riverlands,NaN
6,Sack of Darry,298,7,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Darry,...,0.0,0.0,NaN,NaN,Gregor Clegane,Lyman Darry,1.0,Darry,The Riverlands,NaN
7,Battle of Moat Cailin,299,8,Balon/Euron Greyjoy,Robb Stark,Greyjoy,NaN,NaN,NaN,Stark,...,0.0,0.0,NaN,NaN,Victarion Greyjoy,NaN,1.0,Moat Cailin,The North,NaN
8,Battle of Deepwood Motte,299,9,Balon/Euron Greyjoy,Robb Stark,Greyjoy,NaN,NaN,NaN,Stark,...,0.0,0.0,1000.0,NaN,Asha Greyjoy,NaN,1.0,Deepwood Motte,The North,NaN
9,Battle of the Stony Shore,299,10,Balon/Euron Greyjoy,Robb Stark,Greyjoy,NaN,NaN,NaN,Stark,...,0.0,0.0,264.0,NaN,Theon Greyjoy,NaN,1.0,Stony Shore,The North,Greyjoy's troop number based on the Battle of ...
10,Battle of Torrhen's Square,299,11,Robb Stark,Balon/Euron Greyjoy,Stark,NaN,NaN,NaN,Greyjoy,...,0.0,0.0,244.0,900.0,"Rodrik Cassel, Cley Cerwyn",Dagmer Cleftjaw,1.0,Torrhen's Square,The North,Greyjoy's troop number comes from the 264 esti...
11,Battle of Winterfell,299,12,Balon/Euron Greyjoy,Robb Stark,Greyjoy,NaN,NaN,NaN,Stark,...,0.0,1.0,20.0,NaN,Theon Greyjoy,Bran Stark,1.0,Winterfell,The North,It isn't mentioned how many Stark men are left...
12,Sack of Torrhen's Square,299,13,Balon/Euron Greyjoy,Balon/Euron Greyjoy,Greyjoy,NaN,NaN,NaN,Stark,...,0.0,1.0,NaN,NaN,Dagmer Cleftjaw,NaN,1.0,Torrhen's Square,The North,NaN
13,Sack of Winterfell,299,14,Joffrey/Tommen Baratheon,Robb Stark,Bolton,Greyjoy,NaN,NaN,Stark,...,1.0,0.0,618.0,2000.0,"Ramsay Snow, Theon Greyjoy","Rodrik Cassel, Cley Cerwyn, Leobald Tallhart",1.0,Winterfell,The North,Since House Bolton betrays the Starks for Hous...
14,Battle of Oxcross,299,15,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,6000.0,10000.0,"Robb Stark, Brynden Tully","Stafford Lannister, Roland Crakehall, Antario ...",1.0,Oxcross,The Westerlands,NaN
15,Siege of Storm's End,299,16,Stannis Baratheon,Renly Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,...,1.0,0.0,5000.0,20000.0,"Stannis Baratheon, Davos Seaworth","Renly Baratheon, Cortnay Penrose, Loras Tyrell...",1.0,Storm's End,The Stormlands,NaN
16,Battle of the Fords,299,17,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,0.0,20000.0,10000.0,"Tywin Lannister, Flement Brax, Gregor Clegane,...","Edmure Tully, Jason Mallister, Karyl Vance",1.0,Red Fork,The Riverlands,NaN
17,Sack of Harrenhal,299,18,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,0.0,100.0,100.0,"Roose Bolton, Vargo Hoat, Robett Glover",Amory Lorch,1.0,Harrenhal,The Riverlands,NaN
18,Battle of the Crag,299,19,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,0.0,0.0,6000.0,NaN,"Robb Stark, Smalljon Umber, Black Walder Frey",Rolph Spicer,1.0,Crag,The Westerlands,NaN
19,Battle of the Blackwater,299,20,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,NaN,NaN,NaN,Lannister,...,1.0,1.0,21000.0,7250.0,"Stannis Baratheon, Imry Florent, Guyard Morrig...","Tyrion Lannister, Jacelyn Bywater, Sandor Cleg...",1.0,King's Landing,The Crownlands,NaN
20,Siege of Darry,299,21,Robb Stark,Joffrey/Tommen Baratheon,Darry,NaN,NaN,NaN,Lannister,...,0.0,0.0,NaN,NaN,Helman Tallhart,NaN,1.0,Darry,The Riverlands,NaN
21,Battle of Duskendale,299,22,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,0.0,3000.0,NaN,"Robertt Glover, Helman Tallhart","Randyll Tarly, Gregor Clegane",1.0,Duskendale,The Crownlands,NaN
22,Battle of the Burning Septry,299,23,NaN,NaN,Brotherhood without Banners,NaN,NaN,NaN,Brave Companions,...,0.0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,The Riverlands,NaN
23,Battle of the Ruby Ford,299,24,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Stark,...,0.0,0.0,NaN,6000.0,Gregor Clegane,"Roose Bolton, Wylis Manderly",NaN,Ruby Ford,The Riverlands,NaN
24,Retaking of Harrenhal,299,25,Joffrey/Tommen Baratheon,NaN,Lannister,NaN,NaN,NaN,Brave Companions,...,1.0,0.0,NaN,NaN,Gregor Clegane,Vargo Hoat,1.0,Harrenhal,The Riverlands,NaN
25,The Red Wedding,299,26,Joffrey/Tommen Baratheon,Robb Stark,Frey,Bolton,NaN,NaN,Stark,...,1.0,1.0,3500.0,3500.0,"Walder Frey, Roose Bolton, Walder Rivers",Robb Stark,1.0,The Twins,The Riverlands,This observation refers to the battle against ...
26,Siege of Seagard,299,27,Robb Stark,Joffrey/Tommen Baratheon,Frey,NaN,NaN,NaN,Mallister,...,0.0,1.0,NaN,NaN,Walder Frey,Jason Mallister,1.0,Seagard,The Riverlands,NaN
27,Battle of Castle Black,300,28,Stannis Baratheon,Mance Rayder,Free folk,Thenns,Giants,NaN,Night's Watch,...,1.0,1.0,100000.0,1240.0,"Mance Rayder, Tormund Giantsbane, Harma Dogshe...","Stannis Baratheon, Jon Snow, Donal Noye, Cotte...",0.0,Castle Black,Beyond the Wall,NaN
28,Fall of Moat Cailin,300,29,Joffrey/Tommen Baratheon,Balon/Euron Greyjoy,Bolton,NaN,NaN,NaN,Greyjoy,...,0.0,0.0,NaN,NaN,Ramsey Bolton,NaN,0.0,Moat Cailin,The North,NaN
29,Sack of Saltpans,300,30,NaN,NaN,Brave Companions,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,Rorge,NaN,0.0,Saltpans,The Riverlands,NaN
30,Retaking of Deepwood Motte,300,31,Stannis Baratheon,Balon/Euron Greyjoy,Baratheon,Karstark,Mormont,Glover,Greyjoy,...,0.0,0.0,4500.0,200.0,"Stannis Baratheon, Alysane Mormot",Asha Greyjoy,0.0,Deepwood Motte,The North,NaN
31,Battle of the Shield Islands,300,32,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,NaN,NaN,NaN,Tyrell,...,0.0,0.0,NaN,NaN,"Euron Greyjoy, Victarion Greyjoy",NaN,0.0,Shield Islands,The Reach,NaN
32,"Invasion of Ryamsport, Vinetown, and Starfish ...",300,33,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,NaN,NaN,NaN,Tyrell,...,0.0,0.0,NaN,NaN,"Euron Greyjoy, Victarion Greyjoy",NaN,0.0,"Ryamsport, Vinetown, Starfish Harbor",The Reach,NaN
33,Second Seige of Storm's End,300,34,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,...,0.0,0.0,NaN,200.0,"Mace Tyrell, Mathis Rowan",Gilbert Farring,0.0,Storm's End,The Stormlands,NaN
34,Siege of Dragonstone,300,35,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,...,0.0,0.0,2000.0,NaN,"Loras Tyrell, Raxter Redwyne",Rolland Storm,0.0,Dragonstone,The Stormlands,NaN
35,Siege of Riverrun,300,36,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Frey,NaN,NaN,Tully,...,0.0,0.0,3000.0,NaN,"Daven Lannister, Ryman Fey, Jaime Lannister",Brynden Tully,0.0,Riverrun,The Riverlands,NaN
36,Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Lannister,NaN,NaN,Blackwood,...,0.0,1.0,1500.0,NaN,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0.0,Raventree,The Riverlands,NaN
37,Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Karstark,Mormont,Glover,Bolton,...,NaN,NaN,5000.0,8000.0,Stannis Baratheon,Roose Bolton,0.0,Winterfell,The North,NaN

In [14]:
deaths = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/character-deaths.csv')
deaths

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\micel\AppData\Local\Temp\ipykernel_14380\2562306490.py:1: SyntaxWarning: invalid escape sequence '\D'
  deaths = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/character-deaths.csv')

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),NaN,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,NaN,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,NaN,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,NaN,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [15]:
predictions = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/character-predictions.csv')
predictions

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\micel\AppData\Local\Temp\ipykernel_14380\136615200.py:1: SyntaxWarning: invalid escape sequence '\D'
  predictions = pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/character-predictions.csv')

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1942,0,1,0.803,0.197,Luwin,NaN,1,Westeros,NaN,...,NaN,NaN,0,0,NaN,0,0,1,0.351171,0
1942,1943,0,1,0.987,0.013,Reek,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.096990,0
1943,1944,1,1,0.520,0.480,Symeon Star-Eyes,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.030100,1
1944,1945,1,1,0.637,0.363,Coldhands,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.130435,1
1945,1946,0,0,0.093,0.907,Tytos Lannister,Casterly Rock,1,NaN,220.0,...,NaN,1.0,1,1,47.0,4,1,0,0.210702,0

In [16]:
deaths2= pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/game_of_thrones_character_deaths.csv')
deaths2

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\micel\AppData\Local\Temp\ipykernel_14380\1936428243.py:1: SyntaxWarning: invalid escape sequence '\D'
  deaths2= pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/game_of_thrones_character_deaths.csv')

,name,allegiances,death_year,book_of_death,death_chapter,book_intro_chapter,gender,nobility,a_game_of_thrones,a_clash_of_kings,a_storm_of_swords,a_feast_for_crows,a_dance_with_dragons
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),NaN,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,NaN,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,NaN,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,NaN,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [17]:
tv_stats= pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/Game_of_Thrones.csv')
deaths

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\micel\AppData\Local\Temp\ipykernel_14380\1303376559.py:1: SyntaxWarning: invalid escape sequence '\D'
  tv_stats= pd.read_csv('D:\Docs Persos\IRONHACK_BC\labs\week_6_flask_bigquery_spotipy_MLintro\Games of Thrones lab\game_of_thrones\data/Game_of_Thrones.csv')

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),NaN,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,NaN,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,NaN,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,NaN,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [18]:
pw_raw = 'Silver57' #os.getenv('ironhack')
pw = urllib.parse.quote_plus(pw_raw)

In [19]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/GOT'
engine = create_engine(connection_string)

In [20]:
battles.to_sql('battles',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\4059464282.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  battles.to_sql('battles',engine, 'GOT', if_exists='replace', index=False)

38

In [21]:
deaths.to_sql('deaths',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\2737440207.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  deaths.to_sql('deaths',engine, 'GOT', if_exists='replace', index=False)

917

In [22]:
deaths2.to_sql('death2',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\3593918782.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  deaths2.to_sql('death2',engine, 'GOT', if_exists='replace', index=False)

917

In [23]:
predictions.to_sql('predictions',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\2793547669.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  predictions.to_sql('predictions',engine, 'GOT', if_exists='replace', index=False)

1946

In [29]:
tv_stats.to_sql('tv_stats',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\2016522275.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  tv_stats.to_sql('tv_stats',engine, 'GOT', if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1059, "Identifier name 'Season;No. of Episode (Season);No. of Episode (Overall);Title of the Episode;Running Time (Minutes);' is too long")
[SQL:
CREATE TABLE `GOT`.tv_stats (
	`Season;No. of Episode (Season);No. of Episode (Overall);Title of the Episode;Running Time (Minutes);Directed by;Written by;Original Air Date;U.S. Viewers (Millions);Music by;Cinematography by;Editing by;IMDb Rating;Rotten Tomatoes Rating (Percentage);Metacritic Ratings;Ordered;Filming Duration;Novel(s) Adapted;Synopsis` TEXT
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:

predictions.rename(columns={'S.No': 'character_id'}, inplace=True)
predictions

,character_id,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,1942,0,1,0.803,0.197,Luwin,NaN,1,Westeros,NaN,...,NaN,NaN,0,0,NaN,0,0,1,0.351171,0
1942,1943,0,1,0.987,0.013,Reek,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.096990,0
1943,1944,1,1,0.520,0.480,Symeon Star-Eyes,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.030100,1
1944,1945,1,1,0.637,0.363,Coldhands,NaN,1,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.130435,1
1945,1946,0,0,0.093,0.907,Tytos Lannister,Casterly Rock,1,NaN,220.0,...,NaN,1.0,1,1,47.0,4,1,0,0.210702,0

In [26]:
predictions.to_sql('predictions',engine, 'GOT', if_exists='replace', index=False)

C:\Users\micel\AppData\Local\Temp\ipykernel_14380\2793547669.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  predictions.to_sql('predictions',engine, 'GOT', if_exists='replace', index=False)

1946